*~
\#*\#
.svn
.deps

lackey-x86-linux
Makefile
docs

lackey-amd64-darwin
lackey-x86-darwin

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.log

*.eps
*.pdf
.DS_Store

# VIM swp
*.swp
